<%- include('../layouts/header') %>
<%- include('../layouts/navbar') %>

<div class="container">

    <div class="card mt-5">
        <div class="card-header bg-dark text-light">
            <h5 class="card-title">
                Add New User
            </h5>
        </div>
        <div class="card-body">
            <form action="/add_user" method="post" id="add-form">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Phone</label>
                    <input type="tel" name="phone" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">jenis_kelamin</label>
                    <select class="form-select" id="jenis_kelamin" name="jenis_kelamin">
                        <option name="jenis_kelamin1" value="laki-laki">laki-laki</option>
                        <option name="jenis_kelamin2" value="perempuan">perempuan</option>
                        <option name="jenis_kelamin3" value="lainnya">lainnya</option>
                    </select>
                </div>
                <button type="submit" class="form-control btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<%- include('../layouts/footer') %>